<div >
    
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2 class="text-primary">Ticketing System</h2>
                <p>The purpose of the system is to purchase tickts for public transport online. You need a registratio to use full functionallity of the site.</p>
                <p>This application is deveopped for Telerik Academy Angular 2 course </p>
                <hr >

                <p>© 2016-2017, Team <b class="text-primary" >No Fear For Beer</b> </p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4 class="text-primary" >Menu </h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a [routerLink]="['/']">Ticketing System</a></li>
                        <li><a [routerLink]="['/register']">Register</a></li>
                        <li><a [routerLink]="['/login']">Login</a></li>
                        <li><a [routerLink]="['/news']">News</a></li>
                        <li><a [routerLink]="['/']">Prices</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="https://github.com/NoFearForBeer/Angular2-Team-Project" target="_blank">Github</a></li>
                        <li><a href="https://telerikacademy.com/Courses/Courses/Details/391" target="_blank" >Angular 2 Course</a></li>
                        <li><a href="https://telerikacademy.com/" target="_blank" >Telerik Academy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4 class="text-primary" >Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4 class="text-primary" >Feedback</h4>
                <p>If you want to submit a bug use <a href="https://github.com/NoFearForBeer/Angular2-Team-Project/issues" class="text-primary" target="_blank">github page</a>.</p>
            </div>
        </div>
    </footer>
</div>