<div>
  <div class="col-sm-10 small" *ngFor="let comment of (comments | sort:'-Content')">
      <div class="panel panel-default">
          <div class="panel-heading">
              <strong>{{comment.author}}</strong> <span class="text-muted">commented on {{comment.createdOn | date}}</span>
                <div *ngIf="userName == comment.author">
                    <form name="form" (ngSubmit)="deleteComment(comment.id)" #f="ngForm" novalidate>
                        <button class="btn btn-sm btn-danger pull-right">Delete</button>
                    </form>
                </div>
              <br />
              <br />
          </div>
          <div class="panel-body">
              {{comment.content}}
          </div>
      </div>
  </div>
</div>
