<div id="profile-container">


    <h2> User Profile </h2>

    <div class="col">

        <div class="col col-sm-4 col-sm-offset-4">
            <div class="row">

                <img [src]="tempImg" [alt]="avatar" [width]="350" class="img-thumbnail">

                <span *ngIf="imageUpdated" class="text-success">Done
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                    </span>
                </span>
                <form enctype="multipart/form-data" (submit)="updateAvatar(imgInput.files[0])">
                    <input (change)="imagePreview($event)" class="btn btn-default" #imgInput type="file" accept="image/*">
                    <button class="btn btn-info btn-sm" type="submit" [disabled]="!imageSelected">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col" *ngIf="!isEdit">

        <div class="col col-sm-4 col-sm-offset-4">
            <h2>
                {{ userProfile.FullName }}
            </h2>
            
            <h4> {{ userProfile.Email }}</h4>
            <span class="pull-right btn btn-info" (click)="toogle()" >  
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
            </span>
        </div>
    </div>

    <div class="col" *ngIf="isEdit">
        <div class="col col-sm-4 col-sm-offset-4">
            <h2>Edit</h2>
            <label for="firstNameInput" class="label-control"> FirstName 
                <input type="text" id="firstNameInput" class="form-control" required [(ngModel)]="userProfile.FirstName" minlength="3" >
            </label>


            <div>
                <button type="button" class="btn btn-info" >Apply</button>
                <button type="button" class="btn btn-default" (click)="toogle()" >
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <!--
{ FirstName: "Text", 
LastName: "Text",
 Email: "Text", 
 Tickets: [], 
 Roles: [], 
 Id: "GUID",
  UserName: "Text", 
  FullName: "" }-->

</div>