<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a></li>
        <li><a [routerLink]="['/register']">Register</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="authService.isLoggedIn() == false">
          <h1>not logged in</h1>
          <router-outlet name="notloggedin">
          </router-outlet>
        </div>
        <div *ngIf="authService.isLoggedIn() == true">
          <h1>logged in</h1>
          <router-outlet name="loggedin">
          </router-outlet>
        </div>
        <li ng-if="isLoggedIn() == true"><a href="#">Hello</a></li>
        <li ng-if="isLoggedIn() == true">
          <button class="btn btn-primary" (click)="logout()"> Logout </button>
        </li>
        <li ng-if="isLoggedIn() == false">
          <button class="btn btn-primary" (click)="logout()"> Login </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>