<div style="padding-top: 50px">
  <div *ngFor="let comment of (comments | sort: '-createdOn')">
      <div class="panel panel-default">
          <div class="panel-heading">
              <strong>{{comment.author}}</strong> <span class="text-muted">commented on {{comment.createdOn | date}}</span>
                <div *ngIf="userName == comment.author">
                    <form name="form" (ngSubmit)="deleteComment(comment.id)" #f="ngForm" novalidate>
                        <button class="btn btn-sm btn-danger pull-right" style="margin-top:-24px; background-image: none; background-color: #b81e0d">Delete</button>
                    </form>
                </div>
          </div>
          <div class="panel-body">
              {{comment.content}}
          </div>
      </div>
  </div>
</div>
