<div class="col-md-4 col-md-offset-4">
    <h2>Login Form</h2>
    <form name="form" (submit)="loginUser()" (ngSubmit)="f.form.valid && loginUser()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="user.Username" [(ngModel)]="user.username" #username="ngModel" required/>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="userPassword" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Login </button>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
<router-outlet></router-outlet>
