<div *ngIf="news" class="row" [ngStyle]="{'margin-right': 'auto'}">
    <div class="panel panel-default">
        <div class="panel-heading">
  </div>

  <comment-component #commentComoennt [currentNews]="news" 
                    (commentDeleted)="removeComment($event, commentComoennt)" >
</comment-component>
  <div *ngIf="authService.isLoggedIn() == true">
    <comment-post-component (commnentPosted)="addComment($event, commentComoennt)" 
            [currentNews]="news">
    </comment-post-component>
  </div>
</div>

