
<div [@flyInOut]>
    <div class="row" [ngStyle]="{'margin-right': 'auto'}">
        <div class="col col-sm-2 pull-left">
        </div>
                <news-post-component (newsCreated)="addNews($event)"  ></news-post-component>
            </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a [routerLink]="['/news', n.id]"> <strong>{{n.title}}</strong></a>
                        <div *ngIf="checkIfAdmin()  == true">
                                <form name="form" (ngSubmit)="deleteNews(n.id)" #f="ngForm" novalidate>
                                </form>
                            </div>
                        <span class="text-muted">{{n.createdOn | date}}</span>
                    </div>
                    <div class="panel-body">
                        {{n.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
